body{
    margin: 0cm;
}
.cover{
    height: 400px;
    background-image: url("rsz_rengoku.jpg");/*Agregamos la direccion de una imagen para ponerla de fondo*/
    color: white;/*Cambiamos el color de las letras*/
    background-size:cover; ;/*Hacemos que se ajuste al tamaño de nuestro titulo sin importar las dimensiones de la imagen*/
    background-position: center;/*Hacemos que la imagen se centre*/
    background-color: rgba(0,0,0,0.5); /*Le decimos que la imagen se contraste y se opque mediante un color oscuro*/
    background-blend-mode: darken;/*Elejimos el color de la opacidad*/
}
.cover-small{
    height: 200px;
    background-blend-mode:normal ;
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

.card-title{
    min-height: 2.5rem;
}

.card-text{
    min-height: 10rem;
}
.product-stripe{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stripe-container{
    display:flex;
}

.stripe-container .card{
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}